.threejs-shape1 {
  position: absolute;
  right: 10px;
  top: 80px;
  width: 200px;
  height: 200px;
}

.threejs-shape2 {
  position: absolute;
  left: 10px;
  top: 100px;
  width: 200px;
  height: 200px;
}
